<% flash.each do |type, message| %>
<div class="alert <%= bootstrap_class_for(type) %> alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= message %>
</div>
<% end %>

<div class="banner-bordeaux">
    <h1>Apprendre à coder en 3 mois</h1><br>
    <p>The Hacking Project, l'éducation en peer-learning ! <br>
    Qui nous a permis de construire ce site... sans professeurs 😉</p>
</div>


<div class="container-fluid">
    <div class="THPwhy">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">

                        <h2>Qui sommes-nous ?</h2>
                        <p>Nous sommes 5 Bordelais, ayant commencé notre formation au début du mois d'Octobre 2018 !</p> <br><br>
                    
                    </div>

                    <div class="col-lg-12 col-sm-12">
                    
                        <h2>The Hacking Project, pour qui ?</h2>
                        <p> Vous avez envie de changer de métier ? De devenir développeur ?  Vous désirez développer
                            votre propre entreprise ? Ou vous êtes tout simplement curieux d'apprendre le code ? THP vous forme au
                            codage en moins de 3 mois, gratuitement ! Et tout ça depuis chez vous, dans notre magnifique ville 😉</p>

                    </div>                    
                </div>
            </div>
                <div class="col-lg-6 col-sm-12">
                    <img src="/images/the_hacking_project5.jpg">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="learning">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>THP en quelques mots ?</h2>
            </div>
        </div>
        <div class="row">
            <br>
            <div class="col-lg-2"></div>
                <div class="col-lg-8 col-sm-11">
                <ul>
                    <li>Une formation gratuite (une caution de 314,15€ demandée au début de la formation, et rendue à la fin de la formation accomplie)</li>
                    <li>Apprendre à coder en groupe, le peer-learning c'est une nouvelle façon d'apprendre !</li>
                    <li>Apprendre depuis son appartement, un café, une bibliothèque, etc...</li>
                    <li>De la convivialité !</li>
                </ul>
            <div class="col-lg-2 col-sm-1"></div>
            </div>
        </div>
    </div>
</div>

<div class="between">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="video-wrapper">
                    <div class="video-container">
                        <iframe height="315" width="560" src="https://www.youtube.com/embed/OVecX9nnf-s" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bordeaux-when">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Quand ?</h2>
            </div>
        </div>
        <div class="row">
            <br>
            <div class="col-lg-2"></div>
            <div class="col-lg-8 col-sm-11">
   <h3>Il y a 3 sessions dans l'année ! Une qui débute en janvier, une autre en mars, une en juillet, et une dernière en octobre !</h3>
                <div class="col-lg-2 col-sm-1"></div>
            </div>
        </div>
    </div>
</div>



<div class="between">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>Je veux en savoir plus !</h2>
                <div class="row">
                    <div class="col-lg-12">
                        <br>
                        <p>Une réunion d'information aura lieu prochainement !</p>
                <p>En attendant, rendez-vous sur <a href="https://www.thehackingproject.org/">la page</a> de THP ou sur les réseaux sociaux
<a class="fb-ic" href="https://Facebook.com">
    <i class="fa  fa-facebook white-text mr-4"> </i>
</a>
<!-- Twitter -->
<a class="tw-ic" href="https:/Twitter.com">
    <i class="fa fa-twitter white-text mr-4"> </i>
</a>
<!--Linkedin -->
<a class="li-ic" href="https://www.linkedin.com/school/the_hacking_project/">
    <i class="fa fa-linkedin white-text mr-4"> </i>
</a>
<!--Instagram-->
<a class="ins-ic" href="https://www.instagram.com/the_hacking_project/">
    <i class="fa fa-instagram white-text"></i>
</a>
</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">

                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="/images/Commu.png">
            </div>
        </div>
    </div>
</div>

<div class="testimony">
    <h1>Besoin de quelques témoignages ?</h1><br>
    <h2>En voilà 4 😉</h2>
</div>

<div class="container">
<div class="docScroller">
    <div class="page one">
        <div class="inside">
<div class="video-wrapper">
    <div class="video-container">
<iframe height="315" width="560" src="https://www.youtube.com/embed/TS5QM92B5Lc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>
        </div>
    </div>
    <div class="page two">
        <div class="inside">
<div class="video-wrapper">
    <div class="video-container">
<iframe height="315" width="560" src="https://www.youtube.com/embed/uwsu0pjdWx4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>
        </div>
    </div>
    <div class="page three">
        <div class="inside">
<div class="video-wrapper">
    <div class="video-container">
<iframe height="315" width="560" src="https://www.youtube.com/embed/z-GXUq24bUc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>
        </div>
    </div>
    <div class="page four">
        <div class="inside">
<div class="video-wrapper">
    <div class="video-container">
<iframe height="315" width="560" src="https://www.youtube.com/embed/wMSaVNwny8w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>
        </div>
    </div>
</div>
</div>