
<div class="banner">
    <h1>Apprendre à coder en 3 mois</h1><br>
    <p>The Hacking Project, l'éducation en peer-programming ! <br>
    Qui nous a permis de construire ce site... et de vous y inviter 😉</p>
</div>

<div class="THPwhy">
    <div class="THPwhycontainer">
        <div class="container">
            <br>
            <div class="row">
                <div class="col-6">
                    <br>
                    <h2>Qui sommes-nous ?</h2>
                    <p>5 étudiants bordelais, ayant commencé notre formation fin septembre !</p> <br><br>
                    <h2>The Hacking Project, pour qui ?</h2>
                    <p>Pour ceux qui ont envie de changer de métier, de devenir développeur, ou encore pour ceux qui désirent développer
                    leur propre entreprise ! Ou tout simplement pour ceux qui sont soucieux d'apprendre le code ? THP vous forme au
                    codage en moins de 3 mois, gratuitement !</p>
                </div>
                <div class="col-6">
                <img src="/images/the_hacking_project5.jpg">
                </div>
            </div>
            <div class="col-6">
            </div>
        </div>
    </div>
</div>

<div class="learning">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Qu'y apprend-on ?</h2>
                <h3>Construire un site internet, grâce à divers langages !</h3>
            </div>
        </div>
        <div class="row">
            <br>
            <div class="col-3"></div>
                <div class="col-6">
                <ul>
                    <li>Le langage HTML, qui permet de construire le fond du site, comme le texte, les titres, les images
                    et
                    les liens</li>
                    <li>Le langage CSS, qui permet de mettre en forme le site, avec des couleurs, des polices d'écritures,
                    des
                    barres de navigation, etc...</li>
                    <li>Les langages Ruby et Ruby on Rails, qui permettent d'établir tout le back-end des sites, comme
                    collecter des e-mails,
                    amener sur des pages sépcifiques, etc... Ce langage de programmation a été choisi, car plus
                    agréable et
                    facile à apprendre que Python, Scheme, Smalltalk, ou autres.</li>
                </ul>
            <div class="col-3"></div>
            </div>
        </div>
    </div>
</div>

<div class="between">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-3">
                    </div>
                    <div class="col-6">
                    <h2>Ruby</h2>
                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <p>Ruby est un langage informatique intuitif (orienté objet), pensé pour être implémenté au niveau de sites internets, nottament par le biais du framework ruby on rails (présenté plus bas). 
                            Ruby permet de manipuler des données (par exemples des informations d'utilisateurs) et bien qu'il soit orienté vers la création de site internet et d'applications, son apprentissage est un premier pas vers l'apprentissage de la logique du langage informatique.
                            Pour vous donner un ordre d'idée ce morpion à été réalisé à la 3ème semaine de formation via Ruby, sachant que nous nous sommes lancés dans l'aventure sans aucune expérience préalable dans le domaine de l'informatique.</p>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <img src="/images/TicTacToe.gif">
            </div>
        </div>
    </div>
</div>

<div class="between">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <img src="/images/airbnb.gif">
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-3">
                    </div>
                    <div class="col-6">
                        <h2>Ruby on Rails</h2>
                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <p>Ce framework, a construit de nombreux sites, comme <a href="https://www.airbnb.fr/">Airbnb</a>, <a href="https://500px.com/">500px</a>,
                                <a href="https://www.bloomberg.com/">Bloomberg</a>,
                                <a href="https://www.funnyordie.com/">Funny or Die</a>, ou encore <a href="http://github.com/">GitHub</a>, site de
                                référence pour les développeurs.</p>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="between">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-3">
                    </div>
                    <div class="col-6">
                        <h2>HTML & CSS<h2>
                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <p>Cela permet de structurer le contenu de ses pages à l'aide du premier, et de leur donner des formes et du style à l'aide du second. Une bonne maîtrise de ces deux langages constituera la base de tout développeur web !</p>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
            </div>
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <img src="/images/test01.jpg" width="540px" height="200px">
                    </div>
                    <div class="flip-box-back">
                        <img src="/images/test02.jpg" width="540px" height="200px">
                    </div>
                </div>
            </div>             
        </div>
    </div>
</div>

<div class="between">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <img src="/images/js.gif">
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-3">
                    </div>
                    <div class="col-6">
                        <h2>Javascript</h2>
                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                        <p>JavaScript est un langage de programmation de scripts principalement employé dans les pages web interactives, pour effectuer certaines animations, faire apparaître des messages d'alertes, etc...</p>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="commu">
    <div class="container">
    
    <ul>
    <h2>Mais avant tout THP c'est :</h2>
        <li>Un groupe de travail uni qui est le noyau dur de votre formation</li>        
        <li>Une communauté de moussaillons soudée qui est là pour s'entraider</li>
        <li>Un staff appliqué et impliqué dans le projet, renouvellant constamment le contenu de la formation et qui est à votre écoute</li>   
        <li>Un réseau solide de tous les gens ayant participé à cette formation au fil des années</li>
        <li>Beaucoup d'amour</li>
    </ul>
    </div>
</div>

