<div class="banner">
    <h1>Apprendre à coder en 3 mois</h1><br>
    <p>The Hacking Project, l'éducation en peer-programming ! <br>
    Qui nous a permis de construire ce site... et de vous y inviter 😉</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-3">
            <h2></h2>
         </div>
        <div class="col-3"></div>
        <div class="col-6">
            <h2></h2>
          </div>
    </div>

    <div class="row">
        <div class="col-12">
        <h3></h3>
        </div>
    </div>

</div>
