<div class="banner">
    <h1>Apprendre à coder en 3 mois</h1><br>
    <p>The Hacking Project, l'éducation en peer-learning ! <br>
    Qui nous a permis de construire ce site... sans professeurs 😉</p>
</div>

<div class="container-fluid">
    <div class="THPwhy">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">

                        <h2>Qui sommes-nous ?</h2>
                        <p>Nous sommes une équipe de 5 personnes résidant en région bordelaise, ayant commencé notre formation au début du mois d'Octobre 2018 !</p> <br><br>
                    
                    </div>

                    <div class="col-lg-12 col-sm-12">
                    
                        <h2>The Hacking Project, pour qui est-ce ?</h2>
                        <p> Pour ceux qui ont envie de changer de métier, de devenir développeur, ou encore pour ceux qui désirent développer
                            leur propre entreprise ! Ou tout simplement pour ceux qui sont soucieux d'apprendre le code ? THP vous forme au
                            codage en moins de 3 mois, gratuitement !</p>

                    </div>                    
                </div>
            </div>
                <div class="col-lg-6 col-sm-12">
                    <img src="/images/the_hacking_project5.jpg">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="learning">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Quels sont les objectifs de THP ?</h2>
            </div>
        </div>
        <div class="row">
            <br>
            <div class="col-lg-3"></div>
                <div class="col-lg-6 col-sm-11">
                <ul>
                    <li>Apprendre l'informatique en peer-learning</li>
                    <li>Enseigner à ses participants au développement web : sites, banques de données, applications, tests, sécurité</li>
                    <li>Former une communauté soudée en constante évolution à travers plusieurs pays</li>
                </ul>
            <div class="col-lg-3 col-sm-1"></div>
            </div>
        </div>
    </div>
</div>

<div class="between">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="video-wrapper">
                    <div class="video-container">
                        <iframe height="315" width="560" src="https://www.youtube.com/embed/NbZ0KD2Jcr0" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="learning">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Apprendre l'informatique en peer-learning</h2>
                <br><br>
            </div>
        </div>
    </div>
</div>

<div class="between">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-3">
                    </div>
                    <div class="col-lg-6">
                        <h2>Peer Learning</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">
                            <p>Chez THP, nous n'avons ni professeurs, ni locaux alloués. La formation peut être faite depuis n'importe où en France, du moment que vous avez un ordinateur et une connexion ! Nous nous organisons en groupes de travail et accédons à nos ressources en ligne, dans une formation qui met en avant les travaux pratiques.</p>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="video-wrapper">
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/c4D786zRO6g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="learning">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Maîtriser le Développement Web</h2>
                <br><br>
            </div>
        </div>
    </div>
</div>

<div class="between">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-3">
                    </div>
                    <div class="col-lg-6">
                    <h2>Dev Web</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">
                            <p>En passant par les bases du code grâce au langage Ruby et le web-designing, The Hacking Project propose à ses participants de savoir au bout de 11 semaines monter un site web semblable à <a href="https://www.airbnb.fr/">AirBnB</a>. Applications, banques de données sécurisées, phases de testing, THP vous permet de découvrir de nombreuses facettes de l'univers du développement !</p>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
            <img src="http://image.noelshack.com/fichiers/2018/46/4/1542299625-img-webdesign.jpg">
            </div>
        </div>
    </div>
</div>

<div class="learning">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>The Hacking Project, une communauté</h2>
                <br><br>
            </div>
        </div>
    </div>
</div>

<div class="between">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-3">
                    </div>
                    <div class="col-lg-6">
                    <h2>Communauté</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">
                            <p>Faire la formation The Hacking Project, c'est aussi rejoindre une communauté qui grandit constamment : des participants de sessions précédentes parrainent des nouveaux groupes, et les membres de la communauté peuvent eux-mêmes réaliser divers tutoriels et ressources.</p>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
            <div class="video-wrapper">
                <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/uwsu0pjdWx4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
</div>
</div>
        </div>
    </div>
</div>

<div class="learning">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>The Hacking Project - Médias</h2>
                <br><br>
            </div>
        </div>
    </div>
</div>

<div class="between">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
            <button class="btn btn-block btn-info mb-2" onclick="location.href='https://www.capital.fr/votre-carriere/devenir-developpeur-en-3-mois-et-gratuitement-cest-possible-1267128';">Capital</button>
            </div>
            <div class="col-lg-6">
            <button class="btn btn-block btn-info mb-2" onclick="location.href='http://www.lavoixdunord.fr/345383/article/2018-03-27/apprenez-coder-gratuitement-en-trois-mois-et-sans-prof-avec-hacking-project';">La Voix du Nord</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
            <button class="btn btn-block btn-info mb-2" onclick="location.href='https://actu.fr/hauts-de-france/lille_59350/the-hacking-project-cours-code-gratuits-donnes-lille_15969590.html';">Actu.fr</button>
            </div>
            <div class="col-lg-6">
            <button class="btn btn-block btn-info mb-2" onclick="location.href='https://www.ouest-france.fr/normandie/flers-61100/formation-voulez-vous-coder-avec-moi-5645337';">Ouest-France</button>
            </div>
        </div>
    </div>
</div>
