<br>
<h2>Bonjour !</h2>

<p>Vous venez de vous inscrire à notre newsletter, vous recevrez des nouvelles de THP tous les 15 jours ;)?<p>

<p>Vous pourrez retrouver plus d'informations sur <a href="https://www.thehackingproject.org">le site officiel de The Hacking Project</a>.</p>

<p>Vous pouvez retourner sur notre Landing Page en cliquant <a href='https://coding-education.herokuapp.com/'>ici</a>.</p>

<p>A bientôt !</p>

<br><br>

<p>L'équipe The Hacking Project Bordeaux, Session 6</p>