@import url('https://fonts.googleapis.com/css?family=Muli|Nanum+Gothic|Nunito|Oxygen|PT+Sans|Poppins|Work+Sans');

$body-font: 'Muli',
        sans-serif,
        'Oxygen',
        sans-serif,
        'PT Sans',
        sans-serif;

$font-size-base: 1rem !default;

$h1-font-size: $font-size-base * 1 !default;