.between {
        width                : 100%;
        padding              : 3%;
        height               : 100%;
        background           : white;
        background-size      : cover;
        color                : black;
        background-attachment: fixed;
        background-position  : center;
        min-height           : 100%;
        background-repeat    : no-repeat;
}

.between img{
    width        : 100%;
    border-radius: 2%;
    box-shadow   : 1px 1px 12px #555;
}

.between .container .row h2 {
    text-align : center;
    font-family: 'Poppins',
    	sans-serif;
    	font-size  : 2.5rem;
    	font-weight: bold
}

.between .container .row p {
text-align: justify;

    font-family: 'Muli',
    sans-serif,
    'Oxygen',
    sans-serif,
    'PT Sans',
    sans-serif;
    font-size: 1rem;
}

.video-container {
    position      : relative;
    padding-bottom: 56.25%;
    padding-top   : 30px;
    height        : 0;
    overflow      : hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top     : 0;
    width   : 100%;
    height  : 100%;

}

.video-wrapper {
    width    : 600px;
    max-width: 100%;
    margin   : 0 auto;
    
}