.bordeaux-when{
        width         : 100%;
        padding-top   : 5%;
        padding-bottom: 5%;
        background    : linear-gradient(165deg, rgba(0, 101, 168, 0.7) 0%, rgba(0, 36, 61, 0.5) 50%),
        image-url('destinations-bordeaux-1.jpg');
        background-size      : cover;
        color                : white;
        text-align           : center;
        background-attachment: fixed;
        background-position  : center;
        background-repeat    : no-repeat;
}
.bordeaux-when .col-lg-8{
    padding-top: 3%;
}

.docScroller {
    background                : url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/28963/fir-sm.jpg");
    background-size           : 400px 400px;
    width                     : 100vw;
    height                    : 100vh;
    margin                    : 0;
    padding                   : 0;
    white-space               : nowrap;
    overflow-y                : hidden;
    overflow                  : auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type          : mandatory;
    /* older spec implementation */
    scroll-snap-destination: 0% 100%;
    scroll-snap-points-x   : repeat(100%);
}

.page {
    scroll-snap-align: start;

    width         : 100%;
    height        : 100%;
    display       : inline-block;
    vertical-align: top;
    font-size     : initial;
}

.inside {
    border    : 5px solid #f4ccbf;
    opacity   : 0.95;
    width     : 90vw;
    margin    : 8vh 0 0 5vw;
    height    : 80vh;
    position  : relative;
    overflow  : hidden;
    transition: all 0.3s ease-out;

    h1 {
        opacity   : 0.9;
        text-align: center;
        margin-top: 30vh;
        font-size : 3vw;
        background: #478e85;
        padding   : 8px 0 10px;
    }
}

.one {
    background     : white no-repeat;
    background-size: cover;
}

.two {
    background         : white no-repeat;
    background-size    : cover;
    background-position: bottom right;
}

.three {
    background         : white no-repeat;
    background-size    : cover;
    background-position: right center;
}

.four {
    background         : white no-repeat;
    background-size    : cover;
    background-position: center center;
}

svg {
    position      : absolute;
    height        : 100vh;
    width         : 100vw;
    opacity       : 0.5;
    pointer-events: none;

}