.bordeaux-when{
        width         : 100%;
        padding-top   : 5%;
        padding-bottom: 5%;
        background    : linear-gradient(165deg, rgba(0, 101, 168, 0.7) 0%, rgba(0, 36, 61, 0.5) 50%),
        image-url('destinations-bordeaux-1.jpg');
        background-size      : cover;
        color                : white;
        text-align           : center;
        background-attachment: fixed;
        background-position  : center;
        background-repeat    : no-repeat;
}
.bordeaux-when .col-lg-8{
    padding-top: 3%;
}

.testimony {
    width         : 100%;
    height        : 100%;
    padding-top   : 5%;
    padding-bottom: 5%;
    background    : linear-gradient(165deg, rgba(0, 101, 168, 0.3) 0%, rgba(0, 36, 61, 0.3) 50%),
        image-url('students.jpg');
    background-size: cover;
    color          : white;
    text-align     : center;

    background-attachment: fixed;
    background-position  : center;
    min-height           : 100%;
    background-repeat    : no-repeat;

}

.docScroller {
    background                : white;
    background-size           : cover;
    width                     : 100%;
    height                    : 100%;
    margin                    : 0;
    padding                   : 0;
    white-space               : nowrap;
    overflow-y                : hidden;
    overflow                  : auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type          : mandatory;
    /* older spec implementation */
    scroll-snap-destination: 0% 100%;
    scroll-snap-points-x   : repeat(100%);
}

.page {
    width         : 100%;
    height        : 100%;
    display       : inline-block;
    vertical-align: top;
    font-size     : initial;
}

.inside {
    width     : 100%;
    margin    : 3% 3% 3% 3%;
    height    : 100%;
    position  : relative;
    overflow  : hidden;
    transition: all 0.3s ease-out;

}

.one {
    background     : white no-repeat;
    background-size: cover;
}

.two {
    background         : white no-repeat;
    background-size    : cover;
    background-position: bottom right;
}

.three {
    background         : white no-repeat;
    background-size    : cover;
    background-position: right center;
}

.four {
    background         : white no-repeat;
    background-size    : cover;
    background-position: center center;
}
