.commu {
    height    : 100%;
    background: linear-gradient(165deg, rgba(0, 101, 168, 0.5) 0%, rgba(0, 36, 61, 0.5) 50%),
    image-url('Commu.png');
    background-size: cover;
    color          : white;

    background-position-y: 30%;
    background-position-x: 40%;
    min-height           : 500px;
    background-repeat    : no-repeat;

}

.commu ul {

display       : flex;
flex-direction: column;
align-items   : center;
}


.commu li {
        font-family: 
        'Muli',
sans-serif,
'Oxygen',
sans-serif,
'PT Sans',
sans-serif;
font-size: 1rem;
}

.commu h2 {
    margin-top: 15%;
    text-align: center
}