h2 {
    font-family: 'Poppins',
        sans-serif;
    font-size  : 35pt;
    font-weight: bold
}

h1 {
    	font-family: 'Poppins',
    	sans-serif;
    	font-size  : 40pt;
    	font-weight: bold;
}

p {
    font-family: 
        'Muli',
        sans-serif,
        'Oxygen',
        sans-serif,
        'PT Sans',
        sans-serif;
    font-size: 14pt;
}