<div id="subscribe" class="form_mailshimp">

<%= form_for @user, url: {action: "create"} do |f| %>
    <%= f.email_field :email, placeholder: 'Adresse mail'%>
    <%= f.submit "S'inscrire à la newsletter", :class => 'btn btn-primary' %>
  <% end %>

</div>